GerenciadorTarefas/Connected Services/ServicoGerenciadorTarefas/ServicoGerenciadorTarefas.Modelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoGerenciadorTarefas.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoGerenciadorTarefas.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tarefa">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTarefa" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescricaoTarefa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TarefaConcluida" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tarefa" nillable="true" type="tns:Tarefa" />
  <xs:complexType name="ArrayOfTarefa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tarefa" nillable="true" type="tns:Tarefa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTarefa" nillable="true" type="tns:ArrayOfTarefa" />
</xs:schema>