GerenciadorTarefas/Connected Services/ServicoGerenciadorTarefas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServicoGerenciadorTarefas.Modelos" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicoGerenciadorTarefas.Modelos" minOccurs="0" name="tarefa" nillable="true" type="q1:Tarefa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Finish">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTarefa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Reopen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTarefa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTarefasAbertas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTarefasAbertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicoGerenciadorTarefas.Modelos" minOccurs="0" name="GetTarefasAbertasResult" nillable="true" type="q2:ArrayOfTarefa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTarefasConcluidas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTarefasConcluidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicoGerenciadorTarefas.Modelos" minOccurs="0" name="GetTarefasConcluidasResult" nillable="true" type="q3:ArrayOfTarefa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>